@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-weight: 300;
}

button {
    border-radius: 8px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 25px;
    border: 0;
    font-weight: bold;
    align-self: flex-start;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
}

.header,
.hero {
    width: 950px;
}

.logo {
    font-weight: 500;
}

a,
.logo,
.footer {
    color: #F9FAF8;
}

.header,
.footer {
    display: flex;
    align-items: center;
    height: 75px;
    flex: 1 0 auto;
    font-weight: 300;
}

.header {
    justify-content: space-between;
    font-size: 24px;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 75px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 450px;
    color: #F9FAF8;
}

.hero-container p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.hero .placeholder_image {
    display: flex;
    height: 250px;
    width: 450px;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: grey;
}

.bottom {
    background-color: #1F2937;
}

.footer {
    justify-content: center;
    align-items: center;
}